// app global css
@font-face {
    font-family: 'shsn';
    src:url('msyh.ttf')
    // src: url('SourceHanSansCN-Normal.otf');
}
@font-face {
    font-family: "fzssjw";   
    src:url('msyh.ttf')
    //src:url("FZSSJW.ttf"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */    
    
}
@font-face {
    font-family: 'stst';
    src:url('msyh.ttf')
    // src: url('huawensonti.ttf');
}
html,body{
        font-size: 14px;
}
